* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  padding: 1rem;
  background-color: green;
  max-width: 5rem;
  height: 5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: move 6s ease-in-out 0s infinite;
}

@keyframes move {
  0% {
    background-color: blue;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: rgb(77, 255, 0);
    left: 500px;
    top: 0px;
  }
  50% {
    background-color: rgb(255, 0, 0);
    left: 500px;
    top: 500px;
  }
  75% {
    background-color: rgb(255, 234, 0);
    left: 0px;
    top: 500px;
  }
  100% {
    background-color: rgb(255, 0, 195);
    left: 0px;
    top: 0px;
  }
}
